<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-left">
            © All rights reserved
        </div>

        <div class="footer-center">
            <a href="https://goosi.artstation.com/" target="_blank">
                <img src="/images/artstation-icontrans.png" alt="artstation icon" id="artstation-icon"></a>
            <a href="https://www.instagram.com/goose.sys/" target="_blank">
                <img src="/images/instagram-icontrans.png" alt="instagram icon" id="instagram-icon"></a>
            <a href="https://www.linkedin.com/in/clara-gans-339039399/" target="_blank">
                <img src="/images/linkdin-Icon.png" alt="linkdin icon" id="linkdin-icon"></a>
            <a href="https://x.com/godlygoose69" target="_blank">
                <img src="/images/x-Icon.png" alt="X Icon" id="x-icon"></a>
        </div>

        <div class="footer-right">
            <a href="#top">Back to top</a>
        </div>

    </div>

</footer>


